<div class="media">
  <div class="media-body">
    <h4 class="media-heading">
<!-- #8 we create a link to the show view for each topic -->
      <%= link_to topic.name, topic %>
    </h4>
    <small>
      <%= topic.description %>
    </small>
  </div>
</div>
